<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Eventhub</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/events" routerLinkActive="active">Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/special" routerLinkActive="active">Members</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <!-- register and login button will only be visible if user is not loggedIn() use ngIf for adding that condition-->
                <a class="nav-link" *ngIf="!authService.loggedIn()" routerLink="/login" routerLinkActive="active">login</a>
                <a class="nav-link" *ngIf="!authService.loggedIn()" routerLink="/register" routerLinkActive="active">register</a>
                <a class="nav-link" style="cursor: pointer" *ngIf="authService.loggedIn()" (click)="authService.logoutUser()">Logout</a>
                <!-- goto authService after writing line 19 and define a logoutUser() -->
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <router-outlet></router-outlet>
    <!-- above events like /events, special, login etc are declared inside app-routing.module.ts and the component that needs to be triggered is given inside -->
</div>